@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

h1 {
    padding: 2rem;
    width: 250px;
    border-radius: 10px;
    margin: 2rem auto;
    text-align: center;

    border-radius: 14px;
    background: #ffffff;
    box-shadow: 8px 8px 35px #9c9c9c, -8px -8px 35px #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    text-align: left;
    margin-top: 3rem;
    font-size: 2rem;
}

.single-book {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;

    border-radius: 14px;
    background: #ffffff;
    box-shadow: 8px 8px 35px #9c9c9c, -8px -8px 35px #ffffff;
}

.author-name {
    font-size: 1.2rem;
}

.icon-div {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 0.8rem;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    color: black;
    margin: 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

.right-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reading-status {
    background-color: rgb(80, 79, 79);
    color: white;
    margin-left: 1rem;
}

.hover:hover {
    background-color: black;
}

.reading-status-disabled {
    background-color: rgb(135, 135, 135);
}

.reading-status-disabled:hover {
    cursor: not-allowed;
}

.empty-list {
    text-align: center;
}

a {
}

a:hover {
    cursor: pointer;
}

img,
.main-icons {
    width: 30px;
    height: 30px;
}

.underline{
    border:1px solid black;
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}